---
http_interactions:
- request:
    method: get
    uri: http://cincymusic.com/calendar/events.ajax?date_end=2013-04-30&date_start=2012-10-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data":{"events":[{"id":"2839","slug":"2012\/10\/fearless-kid4","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T20:00:00-04:00","event_headline":null,"image_url":"\/images\/bands\/t_4f3bdd62d8563.jpg","headliner":{"id":"1852","slug":"fearless-kid","band_name":"Fearless
        Kid"},"support":[],"venue":{"id":"29","slug":"mad-frog","venue_name":"The
        Mad Frog","image_url":"\/images\/venues\/t_4f120da9bbdbd.jpg"},"facebook_event_id":"383298855070412","st_title":"Fearless
        Kid (October 30, 2012)","st_image":"\/images\/bands\/t_4f3bdd62d8563.jpg","st_summary":"Everything
        you need to know about Fearless Kid at The Mad Frog on October 30, 2012 from
        Cincinnati''s premier music resource website. Directions, show times, tickets,
        band profiles, and more."},{"id":"2894","slug":"2012\/10\/primus-3d-tour","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T19:00:00-04:00","event_headline":"Primus
        3D Tour","image_url":"\/images\/venues\/t_4e768a2fc242b.jpg","headliner":{"id":"3754","slug":"primus","band_name":"Primu[...]
- request:
    method: get
    uri: http://cincymusic.com/calendar/events.ajax?date_end=2013-04-30&date_start=2012-10-30&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data":{"events":[{"id":"2839","slug":"2012\/10\/fearless-kid4","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T20:00:00-[...]
[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/fearless-kid4.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=fearless-kid4.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//CincyMusic.com//EN

        CALSCALE:GREGORIAN

        X-WR-CALNAME:CincyMusic.com

        BEGIN:VTIMEZONE

        TZID:US/Eastern

        BEGIN:STANDARD

        DTSTART:16011104T020000

        RRULE:FREQ=YEARLY;BYDAY=1SU;BYMONTH=11

        TZOFFSETFROM:-0400

        TZOFFSETTO:-0500

        END:STANDARD

        BEGIN:DAYLIGHT

        DTSTART:16010311T020000

        RRULE:FREQ=YEARLY;BYDAY=2SU;BYMONTH=3

        TZOFFSETFROM:-0500

        TZOFFSETTO:-0400

        END:DAYLIGHT

        END:VTIMEZONE

        BEGIN:VEVENT

        SEQUENCE:1

        DESCRIPTION:Fearless Kid

        URL;VALUE=URI:http://cincymusic.com/shows/2012/10/fearless-kid4

        SUMMARY:Fearless Kid

        LOCATION:The Mad Frog\n1 E. McMillan St.\nCincinnati, Cincinnati 45210

        UID:e9c50acf27a7c3083db83aedeb40fa1f@cincymusic.com

        DTSTART;TZID=US/Eastern:20121030T200000

        DTSTAMP:20121030T135149

        DTEND;TZID=US/Eastern:20121030T230000

        END:VEVENT

        END:VCALENDAR

'
  recorded_at: Tue, 30 Oct 2012 17:56:10 GMT
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/primus-3d-tour.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=primus-3d-tour.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/rumpke-mountain-boys5.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=rumpke-mountain-boys5.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eas[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/devout-wax4.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=devout-wax4.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/the-please-please-me.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=the-please-please-me.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Easte[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/vhs-or-beta.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=vhs-or-beta.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/tweens2.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=tweens2.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//Cinc[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/writer-s-night6.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=writer-s-night6.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

      [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/todd-hepburn6.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=todd-hepburn6.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PR[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/the-independents.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=the-independents.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

    [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/halloween-gypsy-jazz-party-.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=halloween-gypsy-jazz-party-.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIM[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/better-than-bacon.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=better-than-bacon.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

  [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/dopapod.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=dopapod.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//Cinc[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/joshua-black-wilkins.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=joshua-black-wilkins.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Easte[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/he-s-my-brother-she-s-my-sister.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=he-s-my-brother-she-s-my-sister.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/10/john-ford.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=john-ford.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/walkthemoon.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=walkthemoon.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/jahman-brahman.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=jahman-brahman.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/justin-townes-earle.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=justin-townes-earle.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/big-gigantic.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=big-gigantic.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/dia-de-los-muertos-in-the-northside-tavern-front-room.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=dia-de-los-muertos-in-the-northside-tavern-front-room.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        V[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/ben-knight.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=ben-knight.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/46-long.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=46-long.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//Cinc[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/thesundresses.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=thesundresses.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PR[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/walk-off-the-earth.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=walk-off-the-earth.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/new-day-gospel-fest.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=new-day-gospel-fest.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/freekbass.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=freekbass.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/killbox2.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=killbox2.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//Ci[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/iron-fest-iii.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=iron-fest-iii.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PR[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/rumpke-mountain-boys.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=rumpke-mountain-boys.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Easte[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/revenge-pinata.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=revenge-pinata.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: ASCII-8BIT
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

      [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/johnny-quest.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=johnny-quest.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/blameshift.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=blameshift.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/young-jazz-messengers2.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=young-jazz-messengers2.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/E[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/sum-41.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=sum-41.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//CincyM[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/propagandhi.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=propagandhi.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/plutorevolts.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=plutorevolts.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/jason-isbell-and-the-400-unit.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=jason-isbell-and-the-400-unit.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/iron-fest-iii3.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=iron-fest-iii3.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        [...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/mr-fantastic.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=mr-fantastic.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/david-crowder.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=david-crowder.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PR[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/hurt.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=hurt.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//CincyMusic[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/passion-pit.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=passion-pit.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/fifth-on-the-floor.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=fifth-on-the-floor.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/studio-89.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=studio-89.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/open-mic.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=open-mic.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-//Ci[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/deadstring-brothers.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=deadstring-brothers.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/devout-wax.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=devout-wax.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PRODID:-[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/charlie-hunter-duo.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=charlie-hunter-duo.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/dinosaurs-and-thunder.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=dinosaurs-and-thunder.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eas[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/andrew-combs.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=andrew-combs.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/hostage-calm.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=hostage-calm.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZONE:US/Eastern

        PROD[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/lantana-all-hustle-no-luck.ics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=lantana-all-hustle-no-luck.ics
      Content-Type:
      - text/Calendar
    body:
      encoding: US-ASCII
      string: ! 'BEGIN:VCALENDAR

        VERSION:2.0

        METHOD:PUBLISH

        X-WR-TIMEZ[...]
- request:
    method: get
    uri: http://cincymusic.com/shows/2012/11/sharon-van-etten.ics
    body:
      encoding: US-ASCII
[...]
