---
http_interactions:
- request:
    method: get
    uri: http://cincymusic.com/calendar/events.ajax?date_end=2013-04-30&date_start=2012-10-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data":{"events":[{"id":"2839","slug":"2012\/10\/fearless-kid4","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T20:00:00-04:00","event_headline":null,"image_url":"\/images\/bands\/t_4f3bdd62d8563.jpg","headliner":{"id":"1852","slug":"fearless-kid","band_name":"Fearless
        Kid"},"support":[],"venue":{"id":"29","slug":"mad-frog","venue_name":"The
        Mad Frog","image_url":"\/images\/venues\/t_4f120da9bbdbd.jpg"},"facebook_event_id":"383298855070412","st_title":"Fearless
        Kid (October 30, 2012)","st_image":"\/images\/bands\/t_4f3bdd62d8563.jpg","st_summary":"Everything
        you need to know about Fearless Kid at The Mad Frog on October 30, 2012 from
        Cincinnati''s premier music resource website. Directions, show times, tickets,
        band profiles, and more."},{"id":"2894","slug":"2012\/10\/primus-3d-tour","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T19:00:00-04:00","event_headline":"Primus
        3D Tour","image_url":"\/images\/venues\/t_4e768a2fc242b.jpg","headliner":{"id":"3754","slug":"primus","band_name":"Primu[...]
- request:
    method: get
    uri: http://cincymusic.com/calendar/events.ajax?date_end=2013-04-30&date_start=2012-10-30&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data":{"events":[{"id":"2839","slug":"2012\/10\/fearless-kid4","time_show":"2012-10-30T20:00:00-04:00","time_doors":"2012-10-30T20:00:00-[...]
[...]
