%h1 Cincinnati Live Music Calendar Feeds 
%p Live music event feeds from all of your favorite venues around town. Subscribe, or import into your iCal or Google Calendar. See you at the show!
%ul
  %li 
    -if master_location
      = link_to master_location.feed_name, master_location.feed.url
      %span{ :class => "last-updated"}Last Update: #{master_location.last_update}
    -locations.each do |location|
      %li
        = link_to location.feed_name, location.feed.url
